@use "../base/root" as *;
@use "../util/breakpoints" as *;

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  gap: 1rem;
  padding: 1rem;
  background: $neutral-750;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem #00000022;
  position: relative;

  @include breakpoint(medium) {
    gap: 2rem;
    width: 31.25rem;
    & div > img {
      content: url("/src/assets/svg/pattern-divider-desktop.svg");
    }
  }
}
